body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(46, 47%, 91%);

}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;

}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    color: rgb(3, 34, 24);
    display: inline;
}


#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(98, 69%, 49%, 0.637);
    border-radius: 15px ;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(91, 69%, 82%);
    color: rgb(233, 28, 89);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

div button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(340, 96%, 72%);
    color: white;
    font-size: 3rem ;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: hsl(340, 60%, 68%);
}
button:active {
    background-color: hsl(340, 77%, 71%);
}

.operator-btn {
    background-color: hsl(342, 100%, 55%);
}
.operator-btn:hover {
    background-color: hsl(342, 100%, 65%);
}
.operator-btn:active {
    background-color: hsl(342, 100%, 75%);
}


